.fancyButton {
	background-color: var(--highlight2-color);
	border: none;
	height: 3rem;
	text-overflow: wrap;
	text-align: center;
	width: 10rem;
	margin: 0.5rem 1rem;
	color: var(--background-color);
	border-radius: 15px;
	display: flex;
		justify-content: center;
		align-items: center;
}

.fancyButton:hover {
	border: 2px solid var(--highlight1-color);
}